/*---------------Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    
    
}
body {
    background:#75d7f5;
}
/*--------------Header*/    
.menu {
    list-style-type: none;
    font-size: 110%;
    letter-spacing: 3px;
}

.logo .menu {
    line-height: 80px;
}

.menu li {
    float: right;
    margin-right: 25px;
}
.logo {
    float: left;
    font-size: 280%;
    margin-left: 25px;
}

.menu a {
    text-decoration: none;
    color: #fafafa;
}

.menu a:hover {
    border-bottom: 1px solid #fafafa;
}

h2, h3 {
    color: #fafafb;
    padding-left: 10px;
    padding-top: 10px;
}
/*----------------Main Image*/
.hero-image{
    position: relative; 
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: center;
}

.fitbg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*----------------About*/
#about .contentBx {
    text-align: center;
    padding: 20px;
}

.btn {
    position: relative;
    display: inline-block;
    margin-top: 20px;
    padding: 10px 30px;
    background-color: #fafafa;

}

/*----------------Map*/
#search {
    background-color: rgb(0, 87, 113);   
}

#search p {
    color: #fafafb;
    padding: 10px;
}

#map {
    height: 400px;
    width: 100%;
    position: relative;
}
.map-search {
    padding-bottom: 20px;
}
.search-header {
    color: #fafafb;
}
.radio-form {
    color: #fafafa;
}
/*---------------Results window*/
#results-table {
    background-color: rgb(0, 87, 113);
    }
table {
  font-size: 18px;
  width: 100%;
}

/*-------------- Popular Destinations*/
#inspire-me {
    background-color: rgb(229, 155, 136);
    display: grid;    
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    
}

.card {
    background-color: rgb(229, 155, 136);
    border-style: none;
}
img{
    width: 100%;
    height: 400px;
    
}
.container {
    position: relative;
    padding: 10px;
}

.details {
    padding: 10px;
    color: #fafafa;
}
.search-button {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

@media (max-width:670px) {
    .menu  {
    display: inline-block;
    }
}

@media only screen and (max-width: 360px) {
    *
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    
}

.logo {
    float: left;
    font-size: 150%;
    margin-left: 5px;
}
.menu  {
    display: inline-block;
    font-size: small;
}

.cards {
    display: block;
}
}
